<html>
    <head>
        <meta charset='utf-8'>
        <title>基于无线感知的用户群体画像</title>
    </head>

    <header>
        <h1>基于无线感知的用户群体画像</h1>
    </header>

    <footer>
        <p>Posted By Tianjiwei,</p>
        <p>School of Computer Science and Engineering, Tianjin University of Technology.</p>
    </footer>

    <body>

        <div id='main' class='main'>
            <canvas id='canvas'></canvas>
        </div>

        <div id='wordcloud' class='wordcloud'>
            <canvas id='canvas'></canvas>
        </div>

        <div id='basic' class='basic'>
            <canvas id='canvas'></canvas>
        </div>

        <div id='grade' class='grade'>
            <canvas id='canvas'></canvas>
        </div>

        <div id='preferences' class='preferences'>
            <canvas id='canvas'></canvas>
        </div>
        
        <div id='POI' class='POI'>
            <canvas id='canvas'></canvas>
        </div>

        <link rel='stylesheet' type='text/css' href='../static/css/portrait.css'>

        <script type='text/javascript' src='../static/js/jquery.min.js'></script>
        <script type='text/javascript' src='https://cdn.bootcss.com/echarts/3.7.0/echarts.simple.js'></script>
        <script type='text/javascript' src='http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js'></script>
        <script type='text/javascript' src='../static/js/echarts-wordcloud.min.js'></script>
        <script type='text/javascript' src='../static/js/echarts-wordcloud.js'></script>
        <script type='text/javascript' src='../static/js/wordcloud.js'></script>
        <script type='text/javascript' src='../static/js/basic.js'></script>
        <script type='text/javascript' src='../static/js/grade.js'></script>
        <script type='text/javascript' src='../static/js/preferences.js'></script>
        <script type='text/javascript' src='../static/js/POI.js'></script>

    </body>
</html>